<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cquential.Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net48" />
  <package id="Cquential.Microsoft.ReportViewer.DataVisualization" version="10.0.40219.1" targetFramework="net48" />
  <package id="Cquential.Microsoft.ReportViewer.ProcessingObjectModel" version="10.0.40219.1" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1404.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.2015" version="12.0.2.2403" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.2015.Runtime" version="12.0.2.2402" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Runtime.WebForms" version="12.0.2402.15" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.WinForms.VS2010" version="10.0.40219.1" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="MicrosoftReportViewerWebForms" version="11.0.0.0" targetFramework="net48" />
  <package id="RDLCReportRunner" version="1.0.0" targetFramework="net48" />
</packages>